Flask==2.3.3
flask-cors==4.0.0
pymongo==4.5.0
python-dotenv==1.0.0
requests==2.31.0
langchain==0.0.335
langchain-text-splitters==0.0.1
langchain-community==0.0.9
sentence-transformers==2.2.2
faiss-cpu==1.7.4
huggingface-hub==0.19.4
COMANDO PER INSTALLARE TUTTE LE LIBRERIE NEL FILE API CHATBOT
pip install flask flask-cors pymongo requests python-dotenv langchain langchain-community faiss-cpu sentence-transformers 
